// -------------- THEME SWITCHER -------------- //
// @mixin dark-appearance {
//   filter: invert(1);
//   img {
//     filter: invert(1);

//     &.ioda { filter: invert(0); }
//   }
// }

// body[a="dark"] { @include dark-appearance; }


// @media (prefers-color-scheme: dark) {
//   body[a="auto"] { @include dark-appearance; }
// }
// -------------------------------------------- //

// bg color is also needed in html in order to
// block body's background propagation
// see: https://stackoverflow.com/a/61265706
html, body { background: rgb(0, 0, 0); }

html { height: 100%; }

body {
  color: rgb(255, 255, 255);
  font-family: monospace;
  font-size: 15px;
  line-height: 1.4;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
  tab-size: 4;
}

.post-meta { text-align: right; }

h2, h3, h4, h5, h6 { margin-top: 3rem; }

hr { margin: 2rem 0; }

p { margin: 1rem 0; }

li { margin: 0.4rem 0; }

*:target { 
  background: rgb(255, 0, 0); 
}

.w {
  max-width: 720px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

hr {
  text-align: center;
  border: 0;

  &:before { content: '/////' }
  &:after { content: attr(data-content) '/////' }
}

table { width: 100%; }

table, th, td {
  border: thin solid rgb(255, 255, 255);
  border-collapse: collapse;
  padding: 0.4rem;
}

code {
  color: rgb(255, 255, 255);
}

div.highlighter-rouge code {
  display: block;
  overflow-x: auto;
  white-space: pre;
  // padding: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 13px;
  border-top: 0.05rem solid rgb(255, 255, 255);
  border-bottom: 0.05rem solid rgb(255, 255, 255);;
  // border: 0.01ch solid rgb(255, 255, 255);
}

blockquote {
  font-style: italic;
  // border: thin solid rgb(255, 255, 255);
  padding: 1rem;

  p { margin: 0; }
}

img {
  max-width: 100%;
  display: block;
  margin: auto;
  // border: thin solid rgb(255, 255, 255);
}

a:link { 
  color: #00FF00; 
  text-decoration:underline; 
} 
a:visited { 
  color:#FF0000; 
  text-decoration:none; 
} 